# Data Type in Python

These are some important datatypes are provided by Python Language.

1. None Type: None
2. Text Type:	str
3. Numeric Types:	int, float
4. Sequence Types:	list, tuple, range
5. Mapping Type:	dict
6. Set Types:	set
7. Boolean Type:	bool

## None Type

None datatype represents an object that does not contain any value.

In [18]:
#Example:
a = None
print(a)
type(a)

None

NoneType

## Text Type

### String

String represents group of characters.

Strings are enclosed in double quotes or single quotes.

In [21]:
#Example:
pc = 'Personal Computer'
print(pc)
print(type(pc))

Personal Computer
<class 'str'>

## Numeric Type

Following are the Numeric Data type:

### Int

The int datatype represents an integer number. An integer without any decimal point or fraction part. In Python, it is possible to store very large integer number as there is no limit for the size of an int datatype.

In [20]:
#Example:
a = 25
b = -65
c = 12346578242563252
d = -12485185145215225
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### Float

The float data type represents floating point numbers. A floating point number is a number that contains a decimal point.

In [24]:
#Example:
p = 12.35
n = -45.672
l = 12.32546587455745
s = -165.328524758
sci = -1.253e17
print(type(p), p)
print(type(n), n)
print(type(l), l)
print(type(s), s)
print(type(sci), sci)

<class 'float'> 12.35
<class 'float'> -45.672
<class 'float'> 12.32546587455745
<class 'float'> -165.328524758
<class 'float'> -1.253e+17

## Sequence Type

Following are sequence type:

### List

A list represents a group of elements. A list can store different types of elements which can be modified. Lists are dynamic which means size is not fixed. Lists are represented using square bracket [ ].

In [25]:
#Example:
num_list = [14,253,65,85,51,854,8]
print(type(num_list), num_list)

<class 'list'> [14, 253, 65, 85, 51, 854, 8]

In [26]:
lst = [14,-15, 15.25, None, "Python", 14, "Python"]
print(type(lst), lst)

<class 'list'> [14, -15, 15.25, None, 'Python', 14, 'Python']

### Tuple

A tuple contains a group of elements which can be different types. It is similar to List but Tuples are read-only which means we can not modify it's element. Tuples are represented using parentheses ( ).

In [27]:
#Example:
tup = (14,-15, 15.25, None, "Python", 14, "Python")
print(type(tup), tup)

<class 'tuple'> (14, -15, 15.25, None, 'Python', 14, 'Python')

### Range

Range represents a sequence of numbers. The numbers in the range are not modifiable.

In [29]:
#Example:
r = range(10)
print(type(r), r)
print(list(r))

<class 'range'> range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
r = range(5, 10)
print(list(r))

[5, 6, 7, 8, 9]

In [31]:
r = range(5, 15, 2)
print(list(r))

[5, 7, 9, 11, 13]

In [32]:
r = range(50, 15, -5)
print(list(r))

[50, 45, 40, 35, 30, 25, 20]

## Mapping Type

### Dict

A map represents a group of elements in the form of key value pairs.

In [33]:
#Example:
student = {'Name':'Ram', 'Class':10, 'Roll No': 1, "Marks": 95 }
print(type(student), student)

<class 'dict'> {'Name': 'Ram', 'Class': 10, 'Roll No': 1, 'Marks': 95}

## Set Types

### Set

A set is unordered collection of elements much like a set in mathematics.

A set does not accept duplicate elements.

Sets are unordered so we can not access its element using index.

Sets are represented using curly brackets { }.

In [34]:
#Example:
num_set = {14,47,78,56,59,48,72, 47, 72}
print(num_set)

{48, 14, 72, 56, 59, 78, 47}

## Boolean Types

The bool datatype represents boolean value True or False. Python internally represents True as 1 and False as 0.

In [35]:
#Example: 
True
False
True + False

1

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [37]:
#Example: 
a = 15
b = 25
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

The bool() function allows you to evaluate any value, and give you True or False in return,

1. Almost any value is evaluated to True if it has some sort of content.
2. Any string is True, except empty strings.
3. Any number is True, except 0.
4. Any list, tuple, set, and dictionary are True, except empty ones.

In [45]:
#Example
print(bool("Hello"))
print(bool(12345))
print(bool([1,2,3]))

True
True
True

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [44]:
#Example:
print(bool(""))
print(bool(0))
print(bool([]))

False
False
False