# More on Variables in Python

## Various ways to declaring a variable

In [10]:
#Example: Integer, Float, String(2)
i = 125
f = 12.36
s1 = 'string in single quote'
s2 = "string in double quote"
print(type(i), i)
print(type(f), f)
print(type(s1), s1)
print(type(s2), s2)

<class 'int'> 125
<class 'float'> 12.36
<class 'str'> string in single quote
<class 'str'> string in double quote

We can assign values to multiple variables in one line in python.

In [2]:
#Example:
a = 5
b = "python"
c = 4.38

In [12]:
a, b, c = 5, "python", 4.38
print(a)
print(b)
print(c)

5
python
4.38

We can also assign same value to multiple variables

In [13]:
#Example:
x = y = z = 27
print(x)
print(y)
print(z)

27
27
27

Variables do not need to be declared with any particular type.

In [14]:
#Example:
m = "mandatory" # No need to declare m as string.
n = 25 # No need to declare n as integer.
print(type(m), m)
print(type(n), n)

<class 'str'> mandatory
<class 'int'> 25

We can even change type after they have been set.

In [15]:
#Example:
num = 123
num1 = str(num)
print(type(num), num)
print(type(num1), num1)

<class 'int'> 123
<class 'str'> 123

## Multiwords Variable Names

Variable names with more than one word can be difficult to read. There are several techniques you can use to make them more readable:

### Camel Case:

Each word, except the first, starts with a capital letter:

In [16]:
#Example:
cupOfTea = "Green Tea"
print(cupOfTea)

Green Tea

### Pascal Case:

Each word starts with a capital letter:

In [17]:
#Example:
CupOfTea = "Black Tea"
print(CupOfTea)

Black Tea

### Snake Case:

All words are lower case and each word is separated by an underscore character:

In [18]:
#Example:
cup_of_tea = "Milk Tea"
print(cup_of_tea)

Milk Tea

## Unpacking a collection

In [20]:
#Example:
a,b,c = (12, 23, 34)
print(a)
print(b)
print(c)

12
23
34

In [21]:
a,b = (12, 23, 34)

ValueError: too many values to unpack (expected 2)

In [22]:
a,b,c,d = (12, 23, 34)

ValueError: not enough values to unpack (expected 4, got 3)

In [23]:
a,*b,c = 12,36,58,25,25,48,54,58,8
print(a)
print(b)
print(c)

12
[36, 58, 25, 25, 48, 54, 58]
8

In [24]:
a,b,*c = 12,36,58,25,25,48,54,58,8
print(a)
print(b)
print(c)

12
36
[58, 25, 25, 48, 54, 58, 8]

In [25]:
*a,b,c = 12,36,58,25,25,48,54,58,8
print(a)
print(b)
print(c)

[12, 36, 58, 25, 25, 48, 54]
58
8