# Type Conversion

Converting one data type into another data type is called type conversion.

We convert one data type into another data type.

1. int(n)
2. float(n)
3. str(n)
4. list(n)
5. tuple(n)

#### Conversion between Numeric data types

In [1]:
#Example:

In [6]:
f = 25.39
print(type(f), f)
n = int(f)
print(type(n), n)

<class 'float'> 25.39
<class 'int'> 25

In [7]:
n = 15
print(type(n), n)
f = float(n)
print(type(f), f)

<class 'int'> 15
<class 'float'> 15.0

#### Conversion between String and Numeric data types

In [8]:
#Example:
s1 = "125"
print(type(s1), s1)
f = float(s1)
print(type(f), f)

<class 'str'> 125
<class 'float'> 125.0

In [9]:
s1 = "125"
print(type(s1), s1)
n = int(s1)
print(type(n), n)

<class 'str'> 125
<class 'int'> 125

You cannot convert non numeric string data into number type.

In [10]:
#Example:
s2 = "python"
int(s2)

ValueError: invalid literal for int() with base 10: 'python'

#### Conversion between Sequence data types

In [4]:
#Example:

In [12]:
r = range(5)
print(type(r), r)
l = list(r)
print(type(l), l)
t = tuple(r)
print(type(t), t)

<class 'range'> range(0, 5)
<class 'list'> [0, 1, 2, 3, 4]
<class 'tuple'> (0, 1, 2, 3, 4)

In [13]:
lst = [12,35,95,774]
print(type(lst), lst)
tup = tuple(lst)
print(type(tup), tup)

<class 'list'> [12, 35, 95, 774]
<class 'tuple'> (12, 35, 95, 774)

In [15]:
tup1 = (12,35,95,774)
print(type(tup1), tup1)
lst1 = list(tup1)
print(type(lst1), lst1)

<class 'tuple'> (12, 35, 95, 774)
<class 'list'> [12, 35, 95, 774]

In [16]:
range(lst)

TypeError: 'list' object cannot be interpreted as an integer

In [17]:
range(tup)

TypeError: 'tuple' object cannot be interpreted as an integer

#### Conversion between Sequence and Set Data types

In [18]:
#Example:
r = range(5)
print(type(r), r)
set1 = set(r)
print(type(set1), set1)

<class 'range'> range(0, 5)
<class 'set'> {0, 1, 2, 3, 4}

In [19]:
set1 = {15,232,48,8}
print(type(set1), set1)
l = list(set1)
print(type(l), l)
t = tuple(set1)
print(type(t), t)

<class 'set'> {232, 8, 48, 15}
<class 'list'> [232, 8, 48, 15]
<class 'tuple'> (232, 8, 48, 15)

In [20]:
lst = [12,35,95,774]
print(type(lst), lst)
set2 = set(lst)
print(type(set2), set2)

<class 'list'> [12, 35, 95, 774]
<class 'set'> {35, 12, 774, 95}

In [21]:
tup1 = (12,35,95,774)
print(type(tup1), tup1)
set3 = set(tup1)
print(type(set3), set3)

<class 'tuple'> (12, 35, 95, 774)
<class 'set'> {35, 12, 774, 95}

In [22]:
range(set1)

TypeError: 'set' object cannot be interpreted as an integer

You cannot convert sequence data types into mapping data types.

In [23]:
dict(lst)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [24]:
dict(tup)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [25]:
dict(set1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence