# DateTime Module

In Python, date and time are not a data type of its own, but a module named datetime can be imported to work with the date as well as time. 

Datetime module comes built into Python, so there is no need to install it externally. 

Datetime module supplies classes to work with date and time. 

These classes provide a number of functions to deal with dates, times and time intervals. 

Date and datetime are an object in Python, so when you manipulate them, you are actually manipulating objects and not string or timestamps. 

The datetime classes are categorize into 6 main classes – 

+ date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day. 

+ time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond, and tzinfo. 

+ datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond, and tzinfo. 

+ timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution. 

+ tzinfo – It provides time zone information objects. 

+ timezone – A class that implements the tzinfo abstract base class as a fixed offset from the UTC (New in version 3.2).

## Date Class

When an object of this class is instantiated, it represents a date in the format YYYY-MM-DD. Constructor of this class needs three mandatory arguments year, month and date.

Constructor syntax:  

class datetime.date(year, month, day)

The arguments must be in the following range –  

+ MINYEAR <= year <= MAXYEAR 
+ 1 <= month <= 12 
+ 1 <= day <= number of days in the given month and year 

Note – If the argument is not an integer it will raise a TypeError and if it is outside the range a ValueError will be raised.

### Example:

In [1]:
from datetime import date

my_date = date(2022, 5, 15)
print("Date passed as argument is: ", my_date)

Date passed as argument is:  2022-05-15

#### Error Cases:

In [2]:
my_date = date(2022, 5, 40)
print("Date passed as argument is: ", my_date)

ValueError: day is out of range for month

In [3]:
my_date = date("2022", 5, 40)
print("Date passed as argument is: ", my_date)

TypeError: 'str' object cannot be interpreted as an integer

**Comparing two dates**

In [5]:
d1 = date(2021, 7, 10)
d2 = date(2022, 5, 30)

print(d1 == d2)
print(d1 < d2)
print(d1 > d2)
print(d1 <= d2)
print(d1 >= d2)
print(d1 != d2)

False
True
False
True
False
True

### Getting Current Date

To return the current local date today() function of date class is used. today() function comes with several attributes (year, month and day). These can be printed individually.

In [6]:
today = date.today()
print("Today's Date is: ", today)

Today's Date is:  2022-11-07

In [7]:
print("Year: ", today.year)
print("Month: ", today.month)
print("Day: ", today.day)

Year:  2022
Month:  11
Day:  7

**Calculate age in Python**

In [8]:
dob = date(1992, 10 ,18)
t = date.today()
age = t.year - dob.year
print(age)

30

## Time Class

Time object represents local time, independent of any day.

Constructor Syntax: 

class datetime.time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)

All the arguments are optional. tzinfo can be None otherwise all the attributes must be integer in the following range – 

+ 0 <= hour < 24 
+ 0 <= minute < 60 
+ 0 <= second < 60 
+ 0 <= microsecond < 1000000 
+ fold in [0, 1]

### Example:

In [9]:
from datetime import time

my_time = time(13, 24, 56)
print("Entered Time: ", my_time)

Entered Time:  13:24:56

In [10]:
my_time = time()
print("Entered Time: ", my_time)

Entered Time:  00:00:00

In [11]:
my_time = time(minute = 12)
print("Entered Time: ", my_time)

Entered Time:  00:12:00

#### Error Cases

In [12]:
print(time(hour='20'))

TypeError: 'str' object cannot be interpreted as an integer

In [13]:
print(time(hour = 28))

ValueError: hour must be in 0..23

After creating a time object, its attributes can also be printed separately.

In [14]:
time = time(11, 34, 5)
print("Hour: ", time.hour)
print("Minute: ", time.minute)
print("Seconds: ", time.second)
print("Microseconds: ", time.microsecond)

Hour:  11
Minute:  34
Seconds:  5
Microseconds:  0

## Datetime class

Information on both date and time is contained in this class. Like a date object, datetime assumes the current Gregorian calendar extended in both directions; like a time object, datetime assumes there are exactly 3600*24 seconds in every day.

Constructor Syntax: 

class datetime.datetime(year, month, day, hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0) 
 

The year, month and day arguments are mandatory. tzinfo can be None, rest all the attributes must be an integer in the following range –  

+ MINYEAR <= year <= MAXYEAR 
+ 1 <= month <= 12 
+ 1 <= day <= number of days in the given month and year 
+ 0 <= hour < 24 
+ 0 <= minute < 60 
+ 0 <= second < 60 
+ 0 <= microsecond < 1000000 
+ fold in [0, 1] 

Note – Passing an argument other than integer will raise a TypeError and passign arguments outside the range will raise ValueError.

### Example:

In [17]:
from datetime import datetime

a = datetime(1999, 3, 8, 17, 40, 12, 342386)
print(a)

1999-03-08 17:40:12.342386

After creating a datetime object, its attributes can also be printed separately.

In [18]:
print("Year: ", a.year)
print("Month: ", a.month)
print("Day: ", a.day)
print("Hour: ", a.hour)
print("Minute: ", a.minute)
print("Seconds: ", a.second)
print("Microseconds: ", a.microsecond)

Year:  1999
Month:  3
Day:  8
Hour:  17
Minute:  40
Seconds:  12
Microseconds:  342386

#### Get current date and time

You can print the current date and time using the now() function. now() function returns the current local date and time.

In [19]:
today = datetime.now()
print("Current date and time is: ", today)

Current date and time is:  2022-11-07 11:05:46.047557

## TimeDelta Class

Python timedelta() function is present under datetime library which is generally used for calculating differences in dates and also can be used for date manipulations in Python. It is one of the easiest ways to perform date manipulations.

Constructor syntax:  

class datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

Returns : Date

### Example:

**Calculating future dates**

In [23]:
from datetime import datetime, timedelta

dt1 = datetime.now()

future_dt1 = dt1 + timedelta(days = 750)

print(future_dt1)

2024-11-26 11:09:48.439124

In [24]:
dt1 = datetime.now()

future_dt1 = dt1 + timedelta(weeks = 75)

print(future_dt1)

2024-04-15 11:09:48.667504

In [25]:
dt1 = datetime.now()

future_dt2 = dt1 + timedelta(weeks = 75, hours = 15, minutes = 25 )

print(future_dt2)

2024-04-16 02:34:48.956099

**Calculating time difference**

In [26]:
print("Time Difference: ", str(future_dt1 - dt1))

Time Difference:  524 days, 23:59:59.711405

In [27]:
print("Time Difference: ", str(future_dt2 - dt1))

Time Difference:  525 days, 15:25:00